/*--------- slider ---------*/


.slider {
	width:1900px;
	margin:0 auto;
	height:637px;
	position:absolute;
	z-index:2;
	left:50%;
	margin-left:-950px;
	top:0;
	border-bottom:4px solid #252525;
}

.slider-bg {
	overflow:hidden;
	position:relative;
	width:100%;
	height:637px;
}

.items {
	display:none;
}

.pagination {
		position:absolute;
		top:551px;
		left:369px;
		display:inline-block;
		height:20px;
		width:140px;
		border:1px solid #000;
		background:url(../images/pagination-bg.gif) left top repeat-x;
		border-radius:15px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;
		padding:5px 0 0 20px;		
		z-index:60;
	}
	.pagination li {
		float:left;
		padding:0 3px 0 0;
		font-size:0;
		line-height:0;
		margin:0;
		color:#252525;
		background:none !important;
	}
		.pagination a {
			display:block;
			width:15px;
			height:15px;
			background:url(../images/pagination-a-bg.gif) left 0px no-repeat;
			font-size:0;
			line-height:0;
			text-decoration:none;
		}
			.pagination li.current a {
				background:url(../images/pagination-a-active.gif) left 0px no-repeat;
			}

.prev {
    background: url("../images/prev.png") repeat-x scroll left top transparent;
    display: block;
    height: 104px;
    left: 475px;
    position: absolute;
    top: 333px;
    width: 46px;
    z-index: 15;
}

.next {
	display:block;
	width:46px;
	height:102px;
	background:url(../images/next.png) left top repeat-x;
	position:absolute;
	z-index:15;
	top:333px;
	right:472px;
}
	.next:hover,
	.prev:hover {
		background-position:0 -271px;
	}
	
.play {
	display:block;
	width:45px;
	height:22px;
	background:url(../images/pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:552px;
	left:823px;
	padding:2px 0 0 0;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
	.play span {
		display:none;
	}
	.play em {
		font-style:normal;
		display:block;
	}
.paused span {
	display:block;
}
.paused em {
	display:none;
}
.banner {    
    bottom: 92px !important;
    left: 0;
    padding-bottom: 10px;
    padding-top: 13px;
    position: relative;
    top: auto !important;
    width: 100%;
    z-index: 15;
}

.banner-bg {
	position:absolute;
	background: url("../images/banner-bg.png") repeat scroll 0 0 transparent;
	bottom:2px;
	z-index:999;
	left:0;
	width:100%;
	height:90px;
}

.inner1 {
	width:950px;
	margin:0 auto;
	position:relative;
	
}

.country-box {
	float:left;
	text-shadow:0 3px 0 rgba(0,0,0,0.5);
	width:156px;
	font-family: 'Open Sans', sans-serif;
}

.text1 {
	display:block;
	color:#ddcb02;
	font-weight:800;
	font-size:30px;
	line-height:36px;
}

.text2 {
	display:block;
	color:#fff;
	margin-top:-2px;
	font-size:18px;
	line-height:22px;
	font-weight:600;
}

.info-box {
    background: url("../images/divider1.png") no-repeat scroll right 6px transparent;
    color: #DDCB02;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    padding-left: 5px;
    padding-top: 5px;
    width: 121px;
}

.about-box {
    color: #FFFFFF;
    float: left;
    font-size: 11px;
    line-height: 18px;
	margin-right:44px;
    padding-left: 39px;
    padding-top: 6px;
    text-transform: uppercase;
    width: 504px;
}

.link1 {
    background: url("../images/link1.png") no-repeat scroll right 0 transparent;
    color: #DDCB02;
    display: inline-block;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    margin-top: 16px;
	width:59px;
    padding-right: 22px;
    text-align: right;
    text-transform: uppercase;
}

.link1:hover {
	color:#fff;
	text-decoration:none;
}

	

.progbar {
	background:#000;
	width:100%;
	height:2px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:999;
}
.numStatus {
	display:block;
	width:45px;
	height:22px;
	background:url(../images/pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:551px;
	left:583px;
	padding:2px 0 0 0;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
/*-------- end slider -----------*/

.col-1 {
	float:left;
	width:400px;
	padding-right:50px
}
* + html .min {
	min-height:45px;
}
.col-2 {
	float:left;
	width:400px;
}
/*-------- end preset -------*/